@import '../../style/sass/mixin';
@import '../../style/sass/variables';

.menuHeader {
  background: $header-color;
  box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
}
.menu {
  ul {
    margin: 6px 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 40px;
      &:hover {
        a {
          &:after {
            transform: scale(1);
            -webkit-transform: scale(1);
            -webkit-transform: all 0.5s;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }

      a {
        color: #fff;
        display: block;
        padding: 2px 0;
        position: relative;
        &:last-child {
          &:after {
            display: block;
          }
        }

        // &:after {
        //   text-decoration: none;
        // }
      }
    }
  }
}
